{% extends "main.html" %}
{% block content %}
{% load poll_extras %}
<main role="main" style="margin-top: 35px;">
    <div class="block-content">
        {% if request.user.is_authenticated %}
        <h1 class="text-center dashboard-label">Dashboard 📈</h1>
        <div class="container text-cente py-2" id="featured-3">
            <div class="row g-3 py-5 text-center">
                <h2 class="dashboard-label">Channel 👻</h2>
                <div class="feature col-md-3" style="margin-left: auto;">
                    <div class="feature-icon bg-primary bg-gradient">
                        👱‍♂️
                    </div>
                    <h2>{{request.user.all_subscribers|integer_format}}</h2>
                    <p>The total number of subscribers on the channel.</p>
                </div>
                <div class="feature col-md-3" style="margin-right: auto;">
                    <div class="feature-icon bg-primary bg-gradient">
                        🔔
                    </div>
                    <h2>{{request.user.all_notifications|integer_format}}</h2>
                    <p>Number of subscribers who have turned on the notification bell.</p>
                </div>
            </div>
            <div class="row g-3 py-5 text-center">
                <h2 class="dashboard-label">Videos 🎥</h2>
                <div class="feature col-md-3">
                    <div class="feature-icon bg-primary bg-gradient">
                        👁
                    </div>
                    <h2>{{request.user.all_views|integer_format}}</h2>
                    <p>The total number of views under all of your videos.</p>
                </div>
                <div class="feature col-md-3">
                    <div class="feature-icon bg-primary bg-gradient">
                        💬
                    </div>
                    <h2>{{request.user.all_comments|integer_format}}</h2>
                    <p>The total number of comments under all videos.</p>
                </div>
                <div class="feature col-md-3">
                    <div class="feature-icon bg-primary bg-gradient">
                        👍
                    </div>
                    <h2>{{request.user.all_likes|integer_format}}</h2>
                    <p>The total number of likes under all your videos.</p>
                </div>
                <div class="feature col-md-3">
                    <div class="feature-icon bg-primary bg-gradient">
                        👎
                    </div>
                    <h2>{{request.user.all_dislikes|integer_format}}</h2>
                    <p>The total number of dislikes under all your videos.</p>
                </div>
            </div>
            <div class="row g-3 py-5 text-center">
                <h2 class="dashboard-label">Posts 📢</h2>
                <div class="feature col-md-3" style="margin-left: auto;">
                    <div class="feature-icon bg-primary bg-gradient">
                        👍
                    </div>
                    <h2>{{request.user.all_posts_likes|integer_format}}</h2>
                    <p>The total number of likes for all posts in the community tab.</p>
                </div>
                <div class="feature col-md-3" style="margin-right: auto;">
                    <div class="feature-icon bg-primary bg-gradient">
                        👎
                    </div>
                    <h2>{{request.user.all_posts_dislikes|integer_format}}</h2>
                    <p>The total number of dislikes for all posts in the community tab.</p>
                </div>
            </div>
        </div>
        {% else %}
        <div class="card shadow-sm warning">
            <div style="margin-top: 10px;">
                <h4 style="text-align: center;">You must be logged in to view this page 🤪</h4>
            </div>
            <div class="warning-btn">
                <a class="btn btn-primary" style="cursor: pointer;" onclick="transition_link(`{% url 'signin' %}`)">Sign
                    in</a>
            </div>
        </div>
        {% endif %}
    </div>
</main>
{% endblock %}