{% extends "main.html" %}
{% block content %}
{% load poll_extras %}
{% load static %}
<main role="main" style="margin-top: 35px;">
    <div class="block-content">
        {% if request.user.is_authenticated %}
        <section class="py-3 text-center container-fluid">
            <div class="row" style="padding-bottom: 1rem!important;">
                <div class="col-lg-12 col-md-8 mx-auto">
                    <img class="banner-icon" src="{% static 'media/site/icons/disc2.png' %}">
                    <h1 style="margin-bottom: 25px;">Your tracks</h1>
                </div>
            </div>
        </section>
        {% if tracks %}
        <div class="infinite-container">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Track</th>
                        <th scope="col">Title</th>
                        <th scope="col">Date created</th>
                        <th scope="col">Auditions</th>
                        <th scope="col">View stats</th>
                        <th scope="col">Edit track</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in tracks %}
                    <tr class="infinite-item">
                        <td><img width="160" height="160" src="{{i.track_poster.url}}"></td>
                        <td><a style="cursor: pointer;" onclick="transition_link(`{% url 'track__page' i.track_id %}`)">{{ i.title }}</a></td>
                        <td>{{i.date_created|date_func}}</td>
                        <td>{{i.auditions}}</td> <!-- |integer_format -->
                        <td><a style="cursor: pointer;"
                                onclick="transition_link(`{% url 'track__stats__page' i.track_id %}`)">View stats</a>
                        </td>
                        <td><a style="cursor: pointer;"
                                onclick="transition_link(`{% url 'edit__track__page' i.track_id %}`)">Edit track</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% if page_obj.has_next %}
        <a class="infinite-more-link" href="?page={{ page_obj.next_page_number }}"></a>
        {% endif %}
        {% else %}
        <h2 style="text-align: center; margin-bottom: 40px;">You haven't uploaded any tracks. You can do it <a class="a"
                onclick="transition_link(`{% url 'upload__track__page' %}`)">here</a>.</h2>
        {% endif %}
        {% else %}
        <div class="card shadow-sm warning">
            <div style="margin-top: 10px;">
                <h4 style="text-align: center;">You must be logged in to view this page 🤪</h4>
            </div>
            <div class="warning-btn">
                <a class="btn btn-primary" style="cursor: pointer;" onclick="transition_link(`{% url 'signin' %}`)">Sign
                    in</a>
            </div>
        </div>
        {% endif %}
    </div>
</main>
<!-- lazyload -->
<script src="{% static 'js/lazyload/jquery.waypoints.min.js' %}"></script>
<script src="{% static 'js/lazyload/infinite.min.js' %}"></script>
<script>
    var infinite = new Waypoint.Infinite({
        element: $('.table')[0],
        handler: function (direction) {
        },
        offset: 'bottom-in-view',
    });
</script>
{% endblock %}