{% extends "main.html" %}
{% block content %}
{% load poll_extras %}
{% load static %}
<main role="main">
    <div class="block-content">
        {% if request.user.is_authenticated %}
        {% if article.creator == request.user %}
        <div class="row" style="justify-content: end; align-items: end;">
            <section class="py-3 text-center container-fluid">
                <div class="row" style="padding-bottom: 3rem!important;">
                    <div class="col-lg-12 col-md-8 mx-auto">
                        <img class="banner-icon" src="{% static 'media/site/icons/chart.png' %}">
                        <h1 style="margin-bottom: 25px;">Article analytics</h1>
                        <h2 style="margin-bottom: 15px;">Article: <a>{{article.text|html_to_text|truncatechars:280}}</a>
                        </h2>
                        <a style="padding: .5rem 1rem;"
                            onclick="transition_link(`{% url 'edit__article__page' article.article_id %}`)"
                            class="btn btn-secondary my-2 pointer">Edit article</a>
                    </div>
                </div>
            </section>
            <div class="card shadow-sm chart">
                <h1 class="text-center" style="margin-top: 35px;">Likes & Dislikes ❤️</h1>
                <canvas class="my-4 w-100 chartjs-render-monitor" id="likes_and_dislkes" width="2071" height="874"
                    style="display: block; width: 2071px; height: 874px;"></canvas>
            </div>
            <script src="https://cdn.jsdelivr.net/npm/feather-icons@4.28.0/dist/feather.min.js"
                integrity="sha384-uO3SXW5IuS1ZpFPKugNNWqTZRRglnUJK6UAZ/gxOX80nxEkN9NcGZTftn6RzhGWE"
                crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"
                integrity="sha384-zNy6FEbO50N+Cg5wap8IKA4M/ZnLJgzc6w2NqACZaK0u0FXfOWRRJOnQtpZun8ha"
                crossorigin="anonymous"></script>

            <script src="{% static 'js/studio/article.js' %}"></script>
            <script>
                get_article_stats('{{article.article_id}}');
            </script>
        </div>
        {% else %}
        <div class="card shadow-sm warning">
            <div style="margin-top: 10px;">
                <h4 style="text-align: center;">You are not authorized to view this page 😱</h4>
            </div>
            <div class="warning-btn">
                <a class="btn btn-primary pointer" onclick="transition_link(`{% url 'main__page' %}`)">Home</a>
            </div>
        </div>
        {% endif %}
        {% else %}
        <div class="card shadow-sm"
            style="margin-left: auto; margin-right: auto; width: 85%; border: 1px solid rgba(0,0,0,.125); padding: 15px; height: auto; margin-bottom: 25px;">
            <div style="margin-top: 10px;">
                <h4 style="text-align: center;">You must be logged in to view this page 🤪</h4>
            </div>
            <div class="warning-btn">
                <a class="btn btn-primary pointer" onclick="transition_link(`{% url 'signin' %}`)">Sign
                    in</a>
            </div>
        </div>
        {% endif %}
    </div>
</main>
{% endblock %}