{% load static %}
{% if messages %}
<div style="position: absolute; right: 25px; z-index: 9999;">
    {% for message in messages %}
    <div class="toast" id="toast" style="position: relative;" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            <strong class="me-auto">YandexHub 👾</strong>
        </div>
        <div class="toast-body" id="toast-body">{{message|safe}}</div>
    </div>
    <script>
        document.querySelectorAll('.toast').forEach((elem) => {
            elem.className = "toast show";
        });

        document.querySelectorAll('.toast').forEach((elem) => {
            setTimeout(function () {
                elem.style.display = 'none';
            }, 7500);
        });
    </script>
    {% endfor %}
</div>
{% endif %}

<div style="position: fixed; right: 25px; z-index: 9999;">
    <div class="toast" id="toast" style="position: relative; display: none;" role="alert" aria-live="assertive"
        aria-atomic="true">
        <div class="toast-header">
            <strong class="me-auto">YandexHub 👾</strong>
        </div>
        <div class="toast-body" id="toast-body"></div>
    </div>
</div>