{% load static %}
<input type="checkbox" class="openSidebarMenu" id="openSidebarMenu">
<label for="openSidebarMenu" class="sidebarIconToggle">
    <div class="spinner diagonal part-1"></div>
    <div class="spinner horizontal"></div>
    <div class="spinner diagonal part-2"></div>
</label>

<div id="sidebarMenu" style="z-index: 9999; background-color: #fff;">
    <ul class="sidebarMenuInner">
        <input type="checkbox" class="openSidebarMenu" id="openSidebarMenu">
        <label for="openSidebarMenu" class="sidebarIconToggle">
            <div class="spinner diagonal part-1"></div>
            <div class="spinner horizontal"></div>
            <div class="spinner diagonal part-2"></div>
        </label>

        <li>
            <a class="navbar-brand" rel="home" style="cursor: pointer; max-width:40px; margin-left: 40px;"
                onclick="transition_link(`{% url 'main__page' %}`)">
                <b style="font-size: 23px; font-weight: 700;" class="sidebar-logo">YandexHub 👾</b>
            </a>
        </li>

        <hr style="margin-top: 0px;">
        <li>
            <img class="menu__icon" style="width: 21px; margin-right: 10px; margin-bottom: 5px;"
                src="{% static 'media/site/icons/home_icon.png' %}">
            <a class="menu__item menu5" style="cursor: pointer;" onclick="transition_link(`{% url 'main__page' %}`)">
                Home</a>
        </li>
        <li>
            <img class="menu__icon" style="width: 21px; margin-right: 10px; margin-bottom: 5px;"
                src="{% static 'media/site/icons/trending_icon.png' %}">
            <a class="menu__item menu2" style="cursor: pointer;"
                onclick="transition_link(`{% url 'trending__page' %}`)"> Trending</a>
        </li>
        {% if request.user.is_authenticated %}
        <li>
            <img class="menu__icon" style="width: 21px; margin-right: 10px; margin-bottom: 5px;"
                src="{% static 'media/site/icons/subscriptions_icon.png' %}">
            <a class="menu__item menu3" style="cursor: pointer;"
                onclick="transition_link(`{% url 'subscriptions__page' %}`)"> Subscriptions</a>
        </li>
        <hr>

        <li>
            <img class="menu__icon" style="width: 21px; margin-right: 10px; margin-bottom: 5px;"
                src="{% static 'media/site/icons/history_icon.png' %}">
            <a class="menu__item menu3" style="cursor: pointer;" onclick="transition_link(`{% url 'history__page' %}`)">
                History</a>
        </li>
        <li>
            <img class="menu__icon" style="width: 21px; margin-right: 10px; margin-bottom: 4px;"
                src="{% static 'media/site/icons/saved_video_icon.png' %}">
            <a class="menu__item menu3" style="cursor: pointer;"
                onclick="transition_link(`{% url 'saved__videos__page' %}`)"> Saved videos</a>
        </li>
        <li>
            <img class="menu__icon" style="width: 21px; margin-right: 10px; margin-bottom: 2px;"
                src="{% static 'media/site/icons/your_videos_icon.png' %}">
            <a class="menu__item menu3" style="cursor: pointer;"
                onclick="transition_link(`{% url 'my__videos__page' %}`)"> Your videos</a>
        </li>
        <li>
            <img class="menu__icon" style="width: 21px; margin-right: 10px; margin-bottom: 2px;"
                src="{% static 'media/site/icons/liked_videos_icon.png' %}">
            <a class="menu__item menu3" style="cursor: pointer;"
                onclick="transition_link(`{% url 'liked__videos__page' %}`)"> Liked videos</a>
        </li>
        {% endif %}
        <hr>
        <li>
            <img class="menu__icon" style="width: 21px; margin-right: 10px; margin-bottom: 2px;"
                src="{% static 'media/site/icons/film_icon.png' %}">
            <a class="menu__item menu3" style="cursor: pointer;"
                onclick="transition_link(`{% url 'films__page' %}`)"> Films</a>
        </li>
        <hr>
        {% if request.user.subscriber.all %}
        <li><a class="menu__item menu5" onclick="transition_link(`#`)"
                style="font-weight: 450; font-size: 18px; cursor: pointer;">Subscriptions</a></li>
        {% endif %}
        {% for i in request.user.subscriber.all %}
        <li class="subscriptions">
            <div class="avatar-video-img img"
                style="display: inline-block; width: 35px; height: 35px; margin-right: 10px; background-image: url({{ i.channel.avatar.url }});">
            </div>
            <div style="display: inline-block; position: absolute; margin-top: 7px;"><a class="menu__item menu5"
                    style="cursor: pointer;"
                    onclick="transition_link(`{% url 'channel__page' i.channel.user_id %}`)">{{i.channel.username|truncatechars:20}}</a>
            </div>
        </li>
        {% endfor %}
        <li style="bottom: 0; position: absolute;">
            <img class="menu__icon" style="width: 21px; margin-right: 10px; margin-bottom: 2px;"
                src="{% static 'media/site/icons/about.png' %}">
            <a class="menu__item menu3" style="cursor: pointer;"
                onclick="transition_link(`{% url 'about__page' %}`)"> About</a>
        </li>
    </ul>
</div>