{% extends "main.html" %}
{% block content %}
{% load poll_extras %}
{% load static %}
<main role="main" style="margin-top: 35px;">
    <div class="block-content">    
        {% if request.user.is_authenticated %}
        {% if video.creator == request.user %}
        <section class="py-3 text-center container-fluid">
            <div class="row py-lg-5">
                <div class="col-lg-12 col-md-8 mx-auto">
                    <h1 style="margin-bottom: 25px;">Video comments 📝</h1>
                    <h2 style="margin-bottom: 15px;">Video: <a style="cursor: pointer;" onclick="transition_link(`{% url 'video__page' video.video_id %}`)">{{ video.title }}</a></h2>
                </div>
            </div>
        </section>
        <div class="infinite-container">
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Comment</th>
                    <th scope="col">Creator</th>
                    <th scope="col">Date created</th>
                    <th scope="col">Likes</th>
                    <th scope="col">Dislikes</th>
                    <th scope="col">Replies</th>
                    <th scope="col">View stats</th>
                  </tr>
                </thead>
                <tbody>
                    {% for i in comments %}   
                        <tr class="infinite-item">
                            <td>{{ i.comment_text }}</td>
                            <td><a style="cursor: pointer;" onclick="transition_link(`{% url 'channel__page' i.creator.user_id %}`)">{{ i.creator.username }}</a></td>
                            <td>{{i.date_created|date_func}}</td>
                            <td>{{i.likes}}</td>
                            <td>{{i.dislikes}}</td>
                            <td>{{i.replies}}</td>
                            <td><a style="cursor: pointer;" onclick="transition_link(`{% url 'comment__page' i.comment_id %}`)">View stats</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% if page_obj.has_next %}
            <a class="infinite-more-link" href="?page={{ page_obj.next_page_number }}"></a>
        {% endif %}
        {% else %}
        <div class="card shadow-sm"
            style="margin-left: auto; margin-right: auto; width: 85%; border: 1px solid rgba(0,0,0,.125); padding: 15px; height: auto; margin-bottom: 25px;">
            <div style="margin-top: 10px;">
                <h4 style="text-align: center;">You are not authorized to view this page 😱</h4>
            </div>
            <div style="margin-top: 15px; margin-left: auto; margin-right: auto; padding-bottom: 5px;">
                <a class="btn btn-primary" style="cursor: pointer;"
                    onclick="transition_link(`{% url 'main__page' %}`)">Home</a>
            </div>
        </div>
        {% endif %}
        {% else %}
        <div class="card shadow-sm"
            style="margin-left: auto; margin-right: auto; width: 85%; border: 1px solid rgba(0,0,0,.125); padding: 15px; height: auto; margin-bottom: 25px;">
            <div style="margin-top: 10px;">
                <h4 style="text-align: center;">You must be logged in to view this page 🤪</h4>
            </div>
            <div style="margin-top: 15px; margin-left: auto; margin-right: auto; padding-bottom: 5px;">
                <a class="btn btn-primary" style="cursor: pointer;"
                    onclick="transition_link(`{% url 'sign__in__page' %}`)">Sign in</a>
            </div>
        </div>
        {% endif %}
    </div>
</main>      

<!-- lazyload -->
<script src="{% static 'js/lazyload/jquery-2.2.4.min.js' %}"></script>
<script src="{% static 'js/lazyload/jquery.waypoints.min.js' %}"></script>
<script src="{% static 'js/lazyload/infinite.min.js' %}"></script>
<script>
    var infinite = new Waypoint.Infinite({
        element: $('.table')[0],
            handler: function(direction) {
        },
        offset: 'bottom-in-view',
    });
</script>
{% endblock %}
