{% extends "main.html" %}
{% block content %}
{% load poll_extras %}
{% load static %}
<main role="main">
    <div class="block-content">
        {% if request.user.is_authenticated %}
        {% if video.creator == request.user %}
        <div class="row" style="justify-content: end; align-items: end;">
            <section class="py-3 text-center container-fluid">
                <div class="row py-lg-5">
                    <div class="col-lg-12 col-md-8 mx-auto">
                        <h1 style="margin-bottom: 25px;">Video statistics 📊</h1>
                        <h2 style="margin-bottom: 15px;">Video: <a style="cursor: pointer;" onclick="transition_link(`{% url 'video__page' video.video_id %}`)">{{ video.title }}</a></h2>
                        <a style="cursor: pointer;" onclick="transition_link(`{% url 'video__comments__page' video.video_id %}`)" class="btn btn-primary my-2">Comments</a>
                        <a style="cursor: pointer;" onclick="transition_link(`{% url 'edit__video__page' video.video_id %}`)" class="btn btn-secondary my-2">Edit video</a>
                    </div>
                </div>
            </section>

            <h1 style="text-align: center;">Views 👀</h1>
            <h6 style="text-align: center;">View statistics are updated every other day ❗️</h6>
            <canvas class="my-4 w-100 chartjs-render-monitor" id="views" width="2071" height="874"
                style="display: block; width: 2071px; height: 874px;"></canvas>

            <h1 style="text-align: center; margin-top: 35px;">Likes & Dislikes ❤️</h1>
            <h6 style="text-align: center;">Likes and dislikes statistics are updated every other day ❗️</h6>
            <canvas class="my-4 w-100 chartjs-render-monitor" id="likes_and_dislkes" width="2071" height="874"
                style="display: block; width: 2071px; height: 874px;"></canvas>

            <h1 style="text-align: center; margin-top: 35px;">Comments 📝</h1>
            <h6 style="text-align: center;">Comments statistics are updated every other day ❗️</h6>
            <canvas class="my-4 w-100 chartjs-render-monitor" id="comments" width="2071" height="874"
                style="display: block; width: 2071px; height: 874px;"></canvas>

            <script src="https://cdn.jsdelivr.net/npm/feather-icons@4.28.0/dist/feather.min.js"
                integrity="sha384-uO3SXW5IuS1ZpFPKugNNWqTZRRglnUJK6UAZ/gxOX80nxEkN9NcGZTftn6RzhGWE"
                crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"
                integrity="sha384-zNy6FEbO50N+Cg5wap8IKA4M/ZnLJgzc6w2NqACZaK0u0FXfOWRRJOnQtpZun8ha"
                crossorigin="anonymous"></script>

            <script src="{% static 'js/studio/main.js' %}"></script>
            <script>
                get_video_stats('{{video.video_id}}');
            </script>
        </div>
        {% else %}
        <div class="card shadow-sm"
            style="margin-left: auto; margin-right: auto; width: 85%; border: 1px solid rgba(0,0,0,.125); padding: 15px; height: auto; margin-bottom: 25px;">
            <div style="margin-top: 10px;">
                <h4 style="text-align: center;">You are not authorized to view this page 😱</h4>
            </div>
            <div style="margin-top: 15px; margin-left: auto; margin-right: auto; padding-bottom: 5px;">
                <a class="btn btn-primary" style="cursor: pointer;"
                    onclick="transition_link(`{% url 'main__page' %}`)">Home</a>
            </div>
        </div>
        {% endif %}
        {% else %}
        <div class="card shadow-sm"
            style="margin-left: auto; margin-right: auto; width: 85%; border: 1px solid rgba(0,0,0,.125); padding: 15px; height: auto; margin-bottom: 25px;">
            <div style="margin-top: 10px;">
                <h4 style="text-align: center;">You must be logged in to view this page 🤪</h4>
            </div>
            <div style="margin-top: 15px; margin-left: auto; margin-right: auto; padding-bottom: 5px;">
                <a class="btn btn-primary" style="cursor: pointer;"
                    onclick="transition_link(`{% url 'sign__in__page' %}`)">Sign in</a>
            </div>
        </div>
        {% endif %}
    </div>
</main>
{% endblock %}