{% extends "main.html" %}
{% block content %}
{% load static %}
<main role="main" style="margin-top: 35px;">
    <div class="block-content">
        {% if not error %}
        {% if channel.wallet %}
        <div class="card shadow-sm warning">
            <div style="margin-top: 10px;">
                <h4 style="text-align: center; font-size: 2rem;">Support {{channel.username}}</h4>
            </div>
            <iframe
                src="https://yoomoney.ru/quickpay/shop-widget?writer=seller&targets={{text}}&targets-hint=&default-sum=&button-text=11&comment=on&hint=&successURL={{url}}&quickpay=shop&account={{wallet}}"
                width="423" height="301" frameborder="0" allowtransparency="true" scrolling="no"></iframe>
        </div>
        {% else %}
        <div class="card shadow-sm warning">
            <div style="margin-top: 10px;">
                <h3 style="text-align: center;">{{channel.username}} has not yet enabled the donat function</h3>
            </div>
            <div class="warning-btn">
                <a class="btn btn-primary" style="cursor: pointer;"
                    onclick="transition_link(`{% url 'main__page' %}`)">Home page</a>
            </div>
        </div>
        {% endif %}
        {% else %}
        <div class="card shadow-sm warning">
            <div style="margin-top: 10px;">
                <h3 style="text-align: center;">Channel not found ⛄️</h3>
            </div>
            <div class="warning-btn">
                <a class="btn btn-primary" style="cursor: pointer;"
                    onclick="transition_link(`{% url 'main__page' %}`)">Home page</a>
            </div>
        </div>
        {% endif %}
    </div>
</main>
{% endblock %}