{% extends "main.html" %}
{% block content %}
<main role="main" style="margin-top: 35px;">
    <div class="block-content">
        {% if request.user.is_authenticated %}
        <h1 style="text-align: center;">Create article 📄</h1>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ArticleTextArea}}
            <input style="margin-top: 15px;" class="btn btn-primary" type="submit" value="Create">
        </form>
        {% else %}
        <div class="card shadow-sm warning">
            <div style="margin-top: 10px;">
                <h4 style="text-align: center;">You must be logged in to view this page 🤪</h4>
            </div>
            <div class="warning-btn">
                <a class="btn btn-primary" style="cursor: pointer;" onclick="transition_link(`{% url 'signin' %}`)">Sign
                    in</a>
            </div>
        </div>
        {% endif %}
    </div>
</main>
{% endblock %}