{% extends "main.html" %}
{% block content %}
<main role="main" style="margin-top: 35px;">
    <div class="block-content">
        {% if request.user.is_authenticated %}
        <h1 style="text-align: center; margin-bottom: 40px;">Channel settings 👻</h1>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="card shadow-sm chart">
                <h2>Media</h2>
                <div style="margin-top: 15px;" class="custom-file">
                    <label class="custom-file-label" for="id_avatar">Upload avatar</label>
                    <input name="avatar" id="id_avatar" type="file" class="form-control custom-file-input">
                </div>
                <div style="margin-top: 15px;" class="custom-file">
                    <label class="custom-file-label" for="id_banner">Upload banner</label>
                    <input name="banner" id="id_banner" type="file" class="form-control custom-file-input">
                </div>
            </div>
            <div class="card shadow-sm chart" style="margin-top: 25px;">
                <h2>Username</h2>
                <div style="margin-top: 15px;" class="form-floating mb-3">
                    <input name="username" id="id_username" value="{{request.user.username}}" type="text"
                        class="form-control" autocomplete="off" maxlength="150">
                    <label for="id_username">Channel name</label>
                </div>
            </div>
            <div class="card shadow-sm chart" style="margin-top: 25px;">
                <h2>Description</h2>
                <div class="form-floating">
                    {{CustomUserTextArea.description}}
                </div>
            </div>
            <div class="card shadow-sm chart" style="margin-top: 25px;">
                <h2>Other</h2>
                <div style="margin-top: 15px;" class="form-floating mb-3">
                    <input name="location" id="id_location"
                        value="{% if not request.user.location is None %}{{request.user.location}}{% endif %}"
                        type="text" class="form-control" autocomplete="off" maxlength="150">
                    <label for="id_location">Location</label>
                </div>
                <div style="margin-top: 15px;" class="form-floating mb-3">
                    <input name="contact_email" id="id_contact_email"
                        value="{% if not request.user.contact_email is None %}{{request.user.contact_email}}{% endif %}"
                        type="email" class="form-control" autocomplete="off" maxlength="150">
                    <label for="id_contact_email">Email for business inquiries</label>
                </div>
            </div>
            <div class="card shadow-sm chart" style="margin-top: 25px;">
                <h2>Links</h2>
                <div style="margin-top: 15px;" class="form-floating mb-3">
                    <input name="vk_link" id="id_vk_link"
                        value="{% if not request.user.vk_link is None %}{{request.user.vk_link}}{% endif %}" type="text"
                        class="form-control" autocomplete="off">
                    <label for="id_vk_link">VK link</label>
                </div>
                <div style="margin-top: 15px;" class="form-floating mb-3">
                    <input name="instagram_link" id="id_instagram_link"
                        value="{% if not request.user.instagram_link is None %}{{request.user.instagram_link}}{% endif %}"
                        type="text" class="form-control" autocomplete="off">
                    <label for="id_instagram_link">Instagram link</label>
                </div>
                <div style="margin-top: 15px;" class="form-floating mb-3">
                    <input name="facebook_link" id="id_facebook_link"
                        value="{% if not request.user.facebook_link is None %}{{request.user.facebook_link}}{% endif %}"
                        type="text" class="form-control" autocomplete="off">
                    <label for="id_facebook_link">Facebook link</label>
                </div>
                <div style="margin-top: 15px;" class="form-floating mb-3">
                    <input name="telegram_link" id="id_telegram_link"
                        value="{% if not request.user.telegram_link is None %}{{request.user.telegram_link}}{% endif %}"
                        type="text" class="form-control" autocomplete="off">
                    <label for="id_telegram_link">Telegram link</label>
                </div>
                <div style="margin-top: 15px;" class="form-floating mb-3">
                    <input name="twitter_link" id="id_twitter_link"
                        value="{% if not request.user.twitter_link is None %}{{request.user.twitter_link}}{% endif %}"
                        type="text" class="form-control" autocomplete="off">
                    <label for="id_twitter_link">Twitter link</label>
                </div>
                <div style="margin-top: 15px;" class="form-floating mb-3">
                    <input name="reddit_link" id="id_reddit_link"
                        value="{% if not request.user.reddit_link is None %}{{request.user.reddit_link}}{% endif %}"
                        type="text" class="form-control" autocomplete="off">
                    <label for="id_reddit_link">Reddit link</label>
                </div>
                <div style="margin-top: 15px;" class="form-floating mb-3">
                    <input name="website_link" id="id_website_link"
                        value="{% if not request.user.website_link is None %}{{request.user.website_link}}{% endif %}"
                        type="text" class="form-control" autocomplete="off">
                    <label for="id_website_link">Your website link</label>
                </div>
            </div>
            <input style="margin-top: 15px;" class="btn btn-primary" type="submit" value="Save">
        </form>
        {% else %}
        <div class="card shadow-sm warning">
            <div style="margin-top: 10px;">
                <h4 style="text-align: center;">You must be logged in to view this page 🤪</h4>
            </div>
            <div class="warning-btn">
                <a class="btn btn-primary" style="cursor: pointer;" onclick="transition_link(`{% url 'signin' %}`)">Sign
                    in</a>
            </div>
        </div>
        {% endif %}
    </div>
</main>
{% endblock %}