{% extends "main.html" %}
{% block content %}
<main role="main" style="margin-top: 35px;">
    <div class="block-content">
        {% if request.user.is_authenticated %}
        <h1 style="text-align: center; margin-bottom: 40px;">Change password 🔒</h1>
        <div class="container py-2" id="featured-3" style="text-align: center;">
            <div class="card shadow-sm"
                style="margin-left: auto; margin-right: auto; width: 50%; border: 1px solid rgba(0,0,0,.125); padding: 15px; height: auto; margin-bottom: 25px;">
                <form method="post">
                    {% csrf_token %}
                    <div class="modal-body">
                        <p>When you change your account password, you log out of your account and you will be asked to
                            log in again.</p>
                        <div class="form-floating mb-3">
                            <input type="password" name="password" id="id_password" class="form-control"
                                placeholder="Your password" maxlength="150">
                            <label for="id_password">Your password</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="password" name="new_password" id="id_new_password" class="form-control"
                                placeholder="New password" maxlength="150">
                            <label for="id_new_password">New password</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="password" name="confirm_new_password" id="id_confirm_new_password"
                                class="form-control" placeholder="Confirm new password">
                            <label for="id_confirm_new_password" maxlength="150">Confirm new password</label>
                        </div>
                        <div class="form-floating" style="display: grid;">
                            <button type="submit" class="btn btn-primary">Save</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        {% else %}
        <div class="card shadow-sm warning">
            <div style="margin-top: 10px;">
                <h4 style="text-align: center;">You must be logged in to view this page 🤪</h4>
            </div>
            <div class="warning-btn">
                <a class="btn btn-primary" style="cursor: pointer;" onclick="transition_link(`{% url 'signin' %}`)">Sign
                    in</a>
            </div>
        </div>
        {% endif %}
    </div>
</main>
{% endblock %}