{% extends "main.html" %}
{% block content %}
<main role="main" style="margin-top: 35px;">
    <div class="block-content">
        {% if request.user.is_authenticated %}
        <h1 class="text-center dashboard-label">Analytics 🧐</h1>
        <div class="container py-2" id="featured-3" style="text-align: center;">
            <div class="row g-5 py-5">
                <div class="feature col-md-4">
                    <div class="feature-icon bg-primary bg-gradient">
                        📈
                    </div>
                    <h2>Dashboard</h2>
                    <p>The dashboard displays statistics for your channel, likes, views and more.</p>
                    <a class="btn btn-primary" onclick="transition_link(`{% url 'dashboard__page' %}`)">
                        Let's go
                    </a>
                </div>
                <div class="feature col-md-4">
                    <div class="feature-icon bg-primary bg-gradient">
                        📽
                    </div>
                    <h2>Videos</h2>
                    <p>The video page shows statistics for your videos, you can also see statistics for a specific
                        video.</p>
                    <a class="btn btn-primary" onclick="transition_link(`{% url 'my__videos__page' %}`)">
                        Let's go
                    </a>
                </div>
                <div class="feature col-md-4">
                    <div class="feature-icon bg-primary bg-gradient">
                        👱‍♂️
                    </div>
                    <h2>Community</h2>
                    <p>The community tab displays statistics on your posts, you can also see statistics for a specific
                        post.</p>
                    <a class="btn btn-primary" onclick="transition_link(`{% url 'my__articles__page' %}`)">
                        Let's go
                    </a>
                </div>
            </div>
        </div>
        {% else %}
        <div class="card shadow-sm warning">
            <div style="margin-top: 10px;">
                <h4 style="text-align: center;">You must be logged in to view this page 🤪</h4>
            </div>
            <div class="warning-btn">
                <a class="btn btn-primary" style="cursor: pointer;" onclick="transition_link(`{% url 'signin' %}`)">Sign
                    in</a>
            </div>
        </div>
        {% endif %}
    </div>
</main>
{% endblock %}