{% extends "main.html" %}
{% block content %}
<main role="main" style="margin-top: 35px;">
    <div class="block-content">
        {% if request.user.is_authenticated %}
        <h1 style="text-align: center; margin-bottom: 40px;">More 🧻</h1>
        <div class="container py-2" id="featured-3" style="text-align: center;">
            <div class="row g-5 py-5">
                <div class="feature col-md-4">
                    <div class="feature-icon bg-primary bg-gradient">
                        ⭐️
                    </div>
                    <h2>About</h2>
                    <p>A little about the project. The story is strange in some places unusual I advise you to read all
                        the village otherwise you will be an egoist.</p>
                    <a class="btn btn-primary" onclick="transition_link(`{% url 'about__page' %}`)">
                        Let's go
                    </a>
                </div>
                <div class="feature col-md-4">
                    <div class="feature-icon bg-primary bg-gradient">
                        📃
                    </div>
                    <h2>FAQ</h2>
                    <p>If you have any questions about using the service or any other questions, then most likely they
                        will be answered on this page.</p>
                    <a class="btn btn-primary" onclick="transition_link(`{% url 'faq__page' %}`)">
                        Let's go
                    </a>
                </div>
                <div class="feature col-md-4">
                    <div class="feature-icon bg-primary bg-gradient">
                        ⚡️
                    </div>
                    <h2>API</h2>
                    <p>YandexHub's Application programming interface allows you to get different information about yourself and much more.</p>
                    <a class="btn btn-primary" onclick="transition_link(`{% url 'api_page' %}`)">
                        Let's go
                    </a>
                </div>
            </div>
        </div>
        {% else %}
        <div class="card shadow-sm warning">
            <div style="margin-top: 10px;">
                <h4 style="text-align: center;">You must be logged in to view this page 🤪</h4>
            </div>
            <div class="warning-btn">
                <a class="btn btn-primary" style="cursor: pointer;" onclick="transition_link(`{% url 'signin' %}`)">Sign
                    in</a>
            </div>
        </div>
        {% endif %}
    </div>
</main>
{% endblock %}