{% extends "main.html" %}
{% block content %}
{% load static %}
<main role="main" style="margin-top: 35px;">
    <div class="block-content">
        <div class="px-4  my-5 text-center">
            <h1 class="fw-bold">How to connect YandexHub Alert Bot 🤖?</h1>
            <h3 style="margin-top: 35px; margin-bottom: 20px;">Write to <a href="https://t.me/my_id_bot"
                    target="_blank">@my_id_bot</a> to find out your Telegram ID</h3>
            <img src="{% static 'media/site/bot/1.jpg' %}" class="img-fluid" alt="...">
            <h3 style="margin-top: 55px; margin-bottom: 20px;">Insert the received Telegram ID into the form and click
                the Save button.</h3>
            <img src="{% static 'media/site/bot/2.jpg' %}" class="img-fluid" alt="...">
            <h3 style="margin-top: 35px; margin-bottom: 20px;">Write to <a href="https://t.me/yandexhub_alert_bot"
                    target="_blank">@yandexhub_alert_bot</a> to start it.</h3>
            <img src="{% static 'media/site/bot/3.jpg' %}" class="img-fluid" alt="...">
            <h3 style="margin-top: 35px; margin-bottom: 20px;">Now the bot can send us notifications!</h3>
            <img src="{% static 'media/site/bot/4.jpg' %}" class="img-fluid" alt="...">
            <h1 style="margin-top: 55px; margin-bottom: 20px;">Connect Yandex Alert Bot 🤖</h1>
            <a class="btn btn-primary btn-lg px-4 me-sm-2" style="cursor: pointer;"
                onclick="transition_link(`{% url 'bot__page' %}`)">Connect</a>
        </div>
    </div>
</main>
{% endblock %}